#layoutDiv {
    background-color: black;
}

.navbar {
    background-color: #1A1E23ff;
    height: 5rem;
}

#favBtn {
    display: inline;
    margin-left: 170px;
    margin-top: -90px;
    margin-bottom: 0;
}
.dropdown-menu {
    margin-left: 168px;
    margin-top: -30px !important;
}
.favLink {
    color: yellow;
}
.favLink:hover {
    color: white;
}
.fa-trash-can {
    margin-left: 10px;
}
.fa-trash-can:hover {
    color: #cc0020;
}

#swLogo {
    margin-right: 100px;
}

h1 {
    align-self: flex-start;
    margin-left: 12%;
    color: #cc0020;
}

#cardDiv {
    overflow-y: hidden !important;
    width: 78%;
}
.card {
    margin: 10px;
    min-width: 18rem;
}
#cardBody {
    display: flex;
    flex-direction: column;
}
#cardBtnGroup {
    margin-top: auto;
}
.btn-heart:hover .heartBtn {
    color: #cc0020 !important;
}